@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
       opacity: 1;
    }
  }

.header {
    height: 50vh;
    min-height: 500px;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../img/fußballfeld.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: fadeIn 1s;
    opacity: 1;
}



